{%  extends 'base.html' %}
{%  block content %}

    <div class="text-center mw-500 m-auto">
        <div class="mb-3">
            {% if target_user.profile %}
                <img src="{{ target_user.profile.image.url }}"
                     class = "profile_image m-4"
                     alt="profile image">
                <h2 class="NNS_B">
                    {{ target_user.profile.nickname }}
                    {% if target_user == user %}
                    <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}"
                       class="material-icons round_button">
                        edit
{#                        수정(Edit)#}
                    </a>
                    {% endif %}
                </h2>
                <h5>{{ target_user.profile.message }}</h5>
            {% else %}
            <h2 style="border: solid; border-color: slategray; border-radius: 2rem; box-shadow: 0 0 1rem darkgray; ">
                <a href="{% url 'profileapp:create' %}"">
                <div>프로필 작성</div>
                <div>(Create Profile)</div>
                </a>
            </h2>
            {% endif %}
        </div>

        {% if user == target_user %}
        <div>
            <a href="{% url 'accountapp:update' pk=target_user.pk %}"
               class="material-icons round_button m-1">
                settings
{#                내정보 수정(Update Info)#}
            </a>
            <a href="{% url 'accountapp:delete' pk=target_user.pk %}"
               class="material-icons round_button m-1">
                close
{#                회원탈퇴(Quit)#}
            </a>
        </div>
        {% endif %}
    </div>

    <div>
        {% include 'snippets/list_fragment.html' with article_list=object_list %}
    </div>

{% endblock %}