<div style="text-align: center">
    <div class="pragmatic_header_logo">
        <h1>Pragmatic</h1>
    </div>
    <div class="pragmatic_header_button">
        <span>nav1</span>
        <span>nav2</span>
        {% if not user.is_authenticated %}
        <span>
        <a href="{% url 'accountapp:hello_world' %}">
            홈페이지
        </a>
        </span>
        <span>
            <a href="{% url 'accountapp:login' %}">
                로그인(login)
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">
                회원가입(sign up)
            </a>
        </span>
        {% else %}
        <span>
            <a href="{% url 'accountapp:hello_world' %}">
                홈페이지
            </a>
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                내정보(Mypage)
            </a>
            <a href="{% url 'accountapp:logout' %}">
                로그아웃(logout)
            </a>
        </span>
        {% endif %}
    </div>

</div>