{% load static %}

<div style="text-align: center">
    <div class="pragmatic_header_logo">
        <a class="a_head" href="{% url 'accountapp:hello_world' %}">
{#            <h1>Pragmatic</h1>#}
            <img class="rounded-pill" src="{% static 'img/profile_1.jpg' %}" alt="No Image" width="150rem" height="101rem">
        </a>
    </div>
    <div class="pragmatic_header_button">
        <span>
            <a href="{% url 'articleapp:list' %}"
                class="btn btn_header">
                게시글(article)
            </a>
        </span>
        <span>
            <a href="{% url 'projectapp:list' %}"
                class="btn btn_header">
{#                class="btn btn-outline-secondary btn_header">#}
                게시판(project)
            </a>
        </span>
        {% if user.is_authenticated %}
        <span>
            <a href="{% url 'subscribeapp:list' %}"
                class="btn btn_header">
{#                구독(sub)#}
                구독
            </a>
        </span>
        {% endif %}
        {% if not user.is_authenticated %}
        <span>
{#        <a href="{% url 'accountapp:hello_world' %}">#}
{#            홈페이지#}
{#        </a>#}
        </span>
        <span>
            <a href="{% url 'accountapp:login' %}"
                class="btn btn_header">
                로그인(login)
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}"
                class="btn btn_header">
                회원가입(signup)
            </a>
        </span>
        {% else %}
        <span>
{#            <a href="{% url 'accountapp:hello_world' %}">#}
{#                홈페이지#}
{#            </a>#}
            <a href="{% url 'accountapp:detail' pk=user.pk %}"
                class="btn btn_header">
                내정보(mypage)
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:logout' %}"
                class="btn btn_header">
                로그아웃(logout)
            </a>
        </span>
        {% endif %}
    </div>
</div>