{% extends 'base.html' %}
{% block content %}
{% load static %}

    <style>
        .container{
            padding: 0;
            margin: 0 auto;
        }

        .container div {
            width: 45%;
            max-width: 200px;
            {#background-color: antiquewhite;#}
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1rem;
              flex-direction: column;
              box-shadow: 0 0 1rem;
        }
        .container img{
            width: 100%;
            border-radius: 1rem;
        }

    </style>
    <div class="container">
        {% for article in article_list %}
            <div>
                <a href="{% url 'articleapp:detail' pk=article.pk %}" class="img_a">
                    <img src="{{ article.image.url }}" alt="">
                </a>
                <span class="my-2 NNS_B">{{ article.title }}</span>
            </div>

        {% endfor %}
    </div>
    <script>
        var img_arr = document.getElementsByClassName('img_a');
        for(var i=0;i<img_arr.length;i++){
            img_arr[i].addEventListener('mouseover', function(){
                console.log(this.nextElementSibling)
                var next=this.nextElementSibling
                next.innerHTML="<b>"+next.innerText+"</b>"
            });
            img_arr[i].addEventListener('mouseout', function(){
                var next=this.nextElementSibling
                next.innerHTML=next.innerText
            });
        }
    </script>
    <script src="{% static 'js/magicgrid.js' %}"></script>

    {% include 'snippets/pagination.html' %}

    <div class="text-center">
        <a href="{% url 'articleapp:create' %}"
            class="btn btn-dark rounded-pill material-icons">
            brush
        </a>
        <a href="{% url 'articleapp:create' %}"
            class="btn btn-outline-primary rounded-pill text-center m-3">
            게시글 작성(Create Article)
        </a>
    </div>

{% endblock %}